$header-height: 84px;

#main-outlet {
  padding-top: $header-height + 11px;
}

/* Dinopark-style dropdown */

.list-controls .nav-pills {
  & > li {
    &, & > a {
      border-radius: 2em;
    }
  }

  .drop {
    border-radius: 0.5em;
  }
}

.mobile-nav {
  border-radius: 2em;

  .drop {
    border-radius: 0.5em;
  }
}
