@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$header-height: 84px;
$header-padding: 22px;
$black: $primary;
$white: $secondary;

// dinopark:
$gray-10: #f9f9fa;
$gray-20: $highlight; // #ededf0;
$gray-30: #d7d7db;
$gray-40: #b1b1b3;
$gray-50: #737373;
$gray-60: #4a4a4f;
$black: #000000;
$blue-60: $tertiary; // #0060df;
$duck-egg-blue: #f2fcfd;
$white: #ffffff;
$charcoal-grey: #38383d;
$true-green: $success; // #12bc00;
$neon-red: $danger; // #ff0039;

$transparentBlue: rgba(69,161,255,0.54);
$focusOutlineShadow: 0px 0 0 1px $blue-60,0 0 0 3px $transparentBlue;

// protocol:
$pink-50: $love;

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.download-banner {
    display: none;
}

/* Dinopark-style focus styles */

.focus-styles :focus {
  box-shadow: $focusOutlineShadow;
}

/* Apply underline to links in posts */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-preview {

    a:not(.mention):not(.mention-group) {

        &, &:active, &:hover, &:visited {
            text-decoration: underline;
        }

        &:hover {
          color: $black;
        }
    }
}

/* Hide buggy first notification spotlight */

.ring, .ring-backdrop, .ring-backdrop-spotlight {
  display: none;
}

/* Hide Archives category */

tr[data-category-id="64"] {
    display: none;
}

/* Hide Off-Topic category */

tr[data-category-id="275"] {
    display: none;
}

/* A11y friendly colours */

.user-preferences {
  .instructions {
    color: $gray-50;
  }
}

/* Hide Common Voice subcategory topics */

.category-voice .topic-list .topic-list-item:not(.category-voice) {
  display: none;
}

/* Dinopark-style buttons */

.btn, .select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 2em;
  border: 1px solid transparent;
}

.btn:not(.btn-primary):not(.btn-danger) {
  &:hover, &.btn-hover {
    color: $white;
    background: $black;
    border-color: transparent;

    .d-icon {
      color: $white;
    }
  }

  &, &:active, &:active:hover, &.btn-active {
    color: $black;
    background: $white;
    border-color: $gray-50;

    .d-icon {
      color: $black;
    }
  }
}

.btn.btn-primary {
  color: $white;
  background: $blue-60;
  border-color: transparent;

  .d-icon {
    color: $white;
  }

  &:hover, &.btn-hover, &:active, &.btn-active {
    color: $blue-60;
    background: $white;
    border-color: $blue-60;

    .d-icon {
      color: $blue-60;
    }
  }
}

.btn.btn-danger {
  color: $white;
  background: $neon-red;
  border-color: transparent;

  .d-icon {
    color: $white;
  }

  &:hover, &.btn-hover, &:active, &.btn-active {
    color: $neon-red;
    background: $white;
    border-color: $neon-red;

    .d-icon {
      color: $neon-red;
    }
  }
}

.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
  box-shadow: $focusOutlineShadow;
  outline: none;
  border-color: transparent;
}

.d-editor-button-bar .btn.btn-icon {
  border-color: transparent;
  border-radius: 0;
}

/* Dinopark-style avatars */

img.avatar {
    border-radius: 0.25em;
}

/* Dinopark-style header */

.d-header {
    box-shadow: none;
    border-bottom: 1px solid $gray-30;
    padding-top: 0;
    height: $header-height;

    .wrap {
        width: 100%;
        max-width: none;
        padding: 0;
    }

    .title {
        padding: 0 $header-padding;
    }

    #site-logo {
        max-height: 32px;
    }

    .header-buttons {
      margin-top: 0;
    }

    .d-header-icons {
        display: flex;
        align-items: center;
        height: $header-height;
        margin: 0;

        .icon, .icon:hover, .active .icon {
            border: none;

            .d-icon {
              color: $black;
            }
        }

        .icon:hover, .active .icon {
            background: $gray-20;
        }

        #search-button, #toggle-hamburger-menu {
            padding: 10px;
            margin-left: $header-padding;
            border-radius: 0.25em;

            &, i {
                height: $header-padding;
                width: $header-padding;
            }
        }

        .header-dropdown-toggle:not(#current-user):last-child {
          margin-right: $header-padding;
        }
    }

    #current-user {
        .icon {
            padding: $header-padding;
            border: none;
        }

        .icon, .avatar {
            height: 40px;
            width: 40px;
        }
    }
}

body .profiler-results.profiler-left {
  top: $header-height !important;
}

/* Put notification icons in the right place */

#current-user {
  .badge-notification {
    top: 15px;
  }

  .unread-notifications {
    right: 15px;
  }

  .unread-private-messages {
    right: 55px;
  }
}

/* Show feather sprite icons correctly */

.feather-sprite {
  stroke: currentColor;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Dinopark-style modals */

.modal-inner-container {
  border-radius: 1em;
}

/* Dinopark-style dropdowns */

.single-select {
  .select-kit-header {
    border-radius: 2em !important;
    color: $black;
    background: $white;
    border-color: $gray-50;

    .d-icon {
      color: $black;
    }
  }

  .select-kit-body {
    border-radius: 0.5em !important;
    overflow: hidden;

    .select-kit-collection {
      border-radius: 0;
    }
  }
}
