@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 0;

    img.avatar {
        border-radius: 0;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.download-banner {
    display: none;
}

.sad-mayo {
  display: none;
}

.category-mozillians-nda .sad-mayo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  padding-top: 70px;

  button {
    display: block;
    position: absolute;
    top: 100px;
    right: 30px;
  }

  h1 {
    font-size: 2em;
    margin: 30px 0;
    text-align: center;
  }

  .make-mayo-happy {
    text-align: center;

    a {
      font-size: 2em;
    }

    img {
      display: block;
      margin: 30px auto;
    }

    #happy-mayo {
      display: none;
    }

    &:hover {
      #sad-mayo {
        display: none;
      }

      #happy-mayo {
        display: block;
      }
    }
  }
}

/* Apply underline to links in posts */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-preview {

    a:not(.mention):not(.mention-group) {

        &, &:active, &:hover, &:visited {
            color: #000;
            text-decoration: underline;
        }
    }
}

/* Hide buggy first notification spotlight */

.ring, .ring-backdrop, .ring-backdrop-spotlight {
  display: none;
}
