$header-height: 84px;
$header-padding: 22px;

/* Increase font size of category titles on homepage */

.category-list tbody .category h3 {
    font-size: 1.6em;
}

/* Increase font size of category badges */

.badge-wrapper {
    font-size: 1em;
}

/* Remove parent category color from subcategory badge */

.badge-wrapper.box span.badge-category-parent-bg + .badge-category-bg + .badge-category {
    margin-left: 0px;
}

.badge-wrapper.box span.badge-category-parent-bg + .badge-category-bg {
    left: 0px;
    width: 100%;
}

.badge-wrapper.box span.badge-category-parent-bg {
    display: none;
}

/* Increase font size of posts */
/* Increase font size in composer */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-input,
#reply-control .wmd-controls .d-editor-preview {
    font-size: 1.14em;
    line-height: 1.36em;
}

/* Increase font size of titles in topics */

#topic-title h1 {
    font-size: 2.14em;
}

/* Move category badges to banner below header */

.d-header .contents {
    margin-bottom: 0;
}

.d-header .extra-info-wrapper {

    .title-wrapper {

        .topic-statuses {
          line-height: inherit;
        }

        .categories-wrapper {
            width: 100%;
            max-width: none;
            position: absolute;
            left: 0px;
            top: $header-height;
        }

        .badge-wrapper {
            margin: 0;

            .badge-category {
                margin-top: 0px;
                padding: 5px;
            }

            &:first-of-type {
                padding-left: 86px;

                .badge-category-bg {
                    margin-left: -86px;
                }
            }

            &:last-of-type {
                flex-grow: 1;
            }
        }

/* Increase font size of titles in header */

        h1 {
            font-size: 2.14em;
            line-height: 70px;
        }

/* Hide tags from header */

        .topic-header-extra {
          display: none;
        }
    }
}

/* Dinopark-style background */

#main {
  padding-top: $header-height + 28px;
  padding-bottom: 28px;
}

#main-outlet {
  background: #fff;
  box-shadow: 0 0.25em 0.25em 0 hsla(0,0%,82.4%,0.5);
  border-radius: 0.125em;
  padding: 28px;
}

#list-area {
  margin-bottom: 0;
}

body {
  background: #ededf0;
}

/* Re-align menus */

.menu-panel.drop-down {
  right: 0px;
  border-right: none;
}
