.d-header {
    height: 70px;

    .wrap {
        max-width: none;
        padding: 0;
    }

    .title {
        margin: -15px 0;
        margin-right: 20px;
        padding: 0 20px;
        border-right: 1px solid #cfcfcf;

    }

    #site-logo {
        max-height: 30px;
    }

    .logo-small {
        margin-right: 0;
    }

    .login-button {
        margin-right: 20px;
    }

    .icons {
        margin: 0;

        .icon, .icon:hover, .active .icon {
            border: none;
            border-left: 1px solid #cfcfcf;
        }

        .icon {
            margin: -15px 0;
            padding: 20px;
            color: #000;

            &, i {
                height: 30px;
                width: 30px;
            }
        }
    }

    .menu-panel.drop-down {
        margin-top: 15px;
        margin-right: 0.5em;
        border: 1px solid #cfcfcf;
        box-shadow: none;
    }

    #current-user {
        .icon {
            padding: 15px;
        }

        .icon, .avatar {
            height: 40px;
            width: 40px;
        }
    }
}

.drop-down-visible .d-header .icons .active .icon {
    border: none;
    border-left: 1px solid #cfcfcf;
}

#main-outlet {
    padding-top: 92px; /* header + 22px */
}

/* Increase font size of category titles on homepage */

.category-list tbody .category h3 {
    font-size: 1.6em;
}

/* Increase font size of category badges */

.badge-wrapper {
    font-size: 1em;
}

/* Remove parent category color from subcategory badge */

.badge-wrapper.box span.badge-category-parent-bg + .badge-category-bg + .badge-category {
    margin-left: 0px;
}

.badge-wrapper.box span.badge-category-parent-bg + .badge-category-bg {
    left: 0px;
    width: 100%;
}

.badge-wrapper.box span.badge-category-parent-bg {
    display: none;
}

/* Increase font size of posts */
/* Increase font size in composer */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-input,
#reply-control .wmd-controls .d-editor-preview {
    font-size: 1.14em;
    line-height: 1.36em;
}

/* Increase font size of titles in topics */

#topic-title h1 {
    font-size: 2.14em;
}

/* Move category badges to banner below header */

.d-header .contents {
    margin-bottom: 0;
}

.d-header .extra-info-wrapper {

    .title-wrapper {

        .categories-wrapper {
            width: 100%;
            position: absolute;
            left: 0px;
            top: 70px;
        }

        .badge-wrapper {
            margin: 0;

            .badge-category {
                margin-top: 0px;
                padding: 5px;
            }

            &:first-of-type {
                padding-left: 86px;

                .badge-category-bg {
                    margin-left: -86px;
                }
            }

            &:last-of-type {
                flex-grow: 1;
            }
        }

/* Increase font size of titles in header */

        h1 {
            font-size: 2.14em;
            line-height: 70px;
        }

/* Hide tags from header */

        .topic-header-extra {
          display: none;
        }
    }
}

/* Put notification icons in the right place */

.d-header-icons {
  .badge-notification {
    top: 5px;
  }

  .unread-notifications {
    right: 5px;
  }

  .unread-private-messages {
    right: 45px;
  }
}
